body {
  background-color: whitesmoke;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__right {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  max-width: 334.4px;
}

.app__table {
  display: flex;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  font-size: 2rem;
  /* color: red; */
}

.app__header__logo {
  height: 100px;
  width: 100px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__dropdown {
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
    margin: 20px;
  }

  .app__right {
    margin-top: 20px;
    max-width: 100%;
  }
}

@media (max-width: 620px) {
  .app__stats {
    flex-direction: column;
    width: 100%;
  }

  .app__header {
    flex-direction: column;
  }
}
