.app__table {
  margin-top: 20px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
  padding-right: 15px;
}

.app__table table {
  width: 100%;
}

.app__table tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}

.app__table tr:nth-of-type(odd) {
  background-color: whitesmoke;
}
